* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #28282c;
  gap: 2rem;
  text-align: center;
  line-height: 1.5;
  font-family: sans-serif;
  color: whitesmoke;
}

canvas {
  image-rendering: pixelated;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.controls {
  button {
    padding: 10px;
  }
}
