body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #28282c;
}

canvas {
  image-rendering: pixelated;
}
